* {
  border: 0px;
  margin: 0px;
}

body {
  background-color: black;
  background-size: cover;
  height: 100%;
  overflow: hidden;
}

#screen {
  border: 4px solid white;
  position: absolute;
}

#score {
  position: absolute;
  left: 0;
  right: 0;
  margin: auto 0;
  color: white;
  font-size: 40pt;
}

#config {
  width: 400px;
  height: 300px;
  position: absolute;
  left: 50%;
  top: 50%;
  background-color: gray;
  border-radius: 5%;
  transform: translate(-50%, -50%);
}

.property-container {
  display: flex;
  flex-direction: column;
  margin: 10px;
}
.property-container > input {
  margin: 1px;
}

#start {
  position: absolute;
  bottom: 25%;
  left: 50%;
  transform: translate(-50%, -50%);
}
